<ul >
{{#each elements}}
  <li><a href="#{{ref}}"> <img id="{{id}}" src="js/app/logic.world/modelos/{{img}}" class="image img-responsive elemento_mundo" /></a></li>
{{/each}}
  <div style="float: right">
    <button id="add_element" type="button" class="btn btn-default btn_addedit_elem btn-block">Agregar</button>
    <button id="edit_element" type="button" class="btn btn-default btn_addedit_elem btn-block">Editar</button>
  </div>
</ul>

{{#each tabs}}
  <form id="{{id}}" class="lista_atributos nav-atributo">
    {{#each att}}
      <select name="{{name}}" class="atributo form-inline">
        {{#each op}}
            <option>{{estado}}</option>
        {{/each}}
      </select>
    {{/each}}
{{/each}}
